{% extends 'fincontrol_app/layout.html' %}

{% block content %}

    <div class="container mt-5" style="max-width: 660px;">
        <h1>Советы по расходам и заработку от YandexGPT</h1>

        <table class="table table-bordered table-striped table-hover">
            <thead class="table-primary">
            <tr>
                <th>Совет</th>
            </tr>
            </thead>
            <tbody>
            {% for advice in advices %}
                <tr>
                    <td>{{ advice }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <button type="button" class="btn btn-danger" onclick="window.history.back();">Назад</button>
    </div>
{% endblock %}