{% extends 'fincontrol_app/layout.html' %}

{% block content %}
    <div class="container-fluid mt-4">
        <center><h1>Вывод диаграмм по категориям</h1></center>
        <form method="get" action="{% url 'fincontrol_app:show_plots' %}">
            <label for="date_from" class="col-sm-2 col-form-label">Дата с:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="date_from" name="date_from" value="{{ date_from }}">
            </div>

            <label for="date_to" class="col-sm-2 col-form-label">Дата по:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="date_to" name="date_to" value="{{ date_to }}">
            </div>
            <p></p>
            <button type="submit" class="btn btn-success">Показать графики за <br> выбранный период</button>
        </form>

        <table class="table mx-auto">
            <tr>
                <td>
                    {% if context.img_income_pie %}
                        <img src="data:img/png;base64,{{ context.img_income_pie }}" alt="График доходов по категориям">
                    {% else %}
                        <p>График не доступен</p>
                    {% endif %}
                </td>
                <td>
                    {% if context.img_expense_pie %}
                        <img src="data:img/png;base64,{{ context.img_expense_pie }}"
                             alt="График расходов по категориям">
                    {% else %}
                        <p>График не доступен</p>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>
                    {% if context.img_income_date_bar %}
                        <img src="data:img/png;base64,{{ context.img_income_date_bar }}"
                             alt="График доходов по категориям">
                    {% else %}
                        <p>График не доступен</p>
                    {% endif %}
                </td>
                <td>
                    {% if context.img_expense_date_bar %}
                        <img src="data:img/png;base64,{{ context.img_expense_date_bar }}"
                             alt="График расходов по категориям">
                    {% else %}
                        <p>График не доступен</p>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>
                    {% if context.img_income_cat_date_bar %}
                        <img src="data:img/png;base64,{{ context.img_income_cat_date_bar }}"
                             alt="График доходов по категориям">
                    {% else %}
                        <p>График не доступен</p>
                    {% endif %}
                </td>
                <td>
                    {% if context.img_expense_cat_date_bar %}
                        <img src="data:img/png;base64,{{ context.img_expense_cat_date_bar }}"
                             alt="График расходов по категориям">
                    {% else %}
                        <p>График не доступен</p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <form method="post" action="{% url 'fincontrol_app:report_to_excel' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Сформировать отчет в MS Excel</button>
        <button type="button" class="btn btn-danger" onclick="window.history.back();">Отмена</button>
    </form>
    <p></p>
{% endblock %}